name: C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CMake
        run: sudo apt-get update && sudo apt-get install -y cmake g++

      - name: Configure
        run: cmake -B build

      - name: Build
        run: cmake --build build

      - name: Run Tests
        run: ./build/stack_tests
